<div style="background-color: var(--primary-color); height: 98vh;" class="d-flex flex-column sticky-md-top ps-2">
  <div class="ps-2">
    <a>
      <img width="200" src="../../../assets/images/logo.svg" alt="Logo" />
    </a>
  </div>
  <div class="d-flex flex-column justify-content-between text-white mt-4" style="flex: 1;">
    <ul class="list-group">
      <li class="side-bar-nav px-4">
        <fa-icon [icon]="faBriefcase"></fa-icon> Projects
      </li>
      <li class="side-bar-nav px-4">
        <fa-icon [icon]="faUsers"></fa-icon> Teams
      </li>
      <li class="side-bar-nav px-4">
        <fa-icon [icon]="faCog"></fa-icon> Settings
      </li>
      <li class="side-bar-nav px-4">
        <fa-icon [icon]="faCodeFork"></fa-icon>Category
      </li>
    </ul>


    <ul class="list-group">
      <li class="side-bar-nav px-4">
        <img class="profile-image" src="../../../assets/images/uc.jpg" alt="profile"/>Mark Joshua
      </li>
      <li class="side-bar-nav px-4">
        <fa-icon [icon]="faSignOut"></fa-icon> Logout
      </li>
    </ul>
  </div>
</div>