/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #7C5869;
  --light-primary-color: #BFA6B2;
  --secondary-color: #FEEC4E;
  --gray-color: #F2F2F2;
}

.icon-circle {
  cursor: pointer;
  height: 30px;
  padding-top: 5px;
  width: 30px;
  text-align: center;
  font-size: 12px;
  }
  
