<div class="row">
  <div class="col-md-2">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-md-10">
    <app-header></app-header>
    <div class="row">
      <div class="col-md-8">
        <h1>Watch Out</h1>
      </div>
      <div class="col-md-4">
        <div>
          Questions
          <span class="border border-1 rounded-circle icon-circle" style="display: inline-block;">
            <fa-icon [icon]="faAdd"></fa-icon>
          </span>
        </div>
        <div>
          <div>
            <app-question-box *ngFor="let question of questions"></app-question-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>