<div class="position-relative p-1 border-bottom p-2 py-4 question-container">
  <p class="mb-0">What is your name ?</p>
  <span class="position-absolute border border-1 rounded-circle question-extras text-white icon-circle" style="right: 5px; background-color: var(--primary-color);"><fa-icon [icon]="faExternalLink"></fa-icon></span>
  <span class="position-absolute border border-1 rounded-circle question-extras text-white icon-circle" style="right: 40px;  background-color: var(--primary-color);"><fa-icon [icon]="faLightbulb"></fa-icon></span>
  <span class="position-absolute border border-1 rounded-circle question-extras text-white icon-circle" style="right: 75px;  background-color: var(--primary-color);"><fa-icon [icon]="faComment"></fa-icon></span>
</div>